.container {
background-color: #f0f5f5;
padding-top: 10px;
padding-bottom: 30px;
border: 1px solid;
border-color: #4e7e7e;
 border-radius: .50rem;
color: black;
height:580px;

font-family: 'IM Fell English', serif;
}

header {
  background-color: #ddf1da;
  text-align: center;

 border-radius: .50rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 40px;

  padding-bottom: 2px;
}
h1 {
  padding-top: 10px;
  font-size: 40px;

  color:black;
}
main {
background-color: #e0ebeb;
margin-left: 15px;
margin-right: 15px;
margin-top: 20px;
margin-bottom:20px;
padding-top: 20px;
padding-bottom: 20px;
 border-radius: .50rem;
}
#myApps {
  background-color:#e5e5ff;
  text-align: center;
  font-size: 25px;
color:black;
  padding-top: 20px;
  padding-bottom: :30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
 border-radius: .50rem;
}
.myApp {
     width: 200px;
    height: 70px;
     padding: 2px;
     margin: 20px;

font-family: 'IM Fell English', serif;
     font-size: 25px;
     color:black;
 border-radius: .50rem;
     background: white;

   }


footer {
  text-align: center;
   border-radius: .50rem;

  background-color: #e0ebeb;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 17px;
 padding-bottom: 17px;
 font-family: 'IM Fell English', serif;

 color: black;
}
